@{
    ViewData["Title"] = "Home Page";
}

<h1>The Joel Hilton Film Collection</h1>
<img src="~/img/Book.png" />

<div>
    <a asp-controller="Home" asp-action="Tasks">Tasks</a>
</div>
<div>
    <a asp-controller="Home" asp-action="View">View</a>
</div>

<div>
    <a asp-controller="Home" asp-action="Quadrant">Quadrant</a>
</div>